<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор статьи</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Выбор статьи</h1>
    <a href="/action_selection/13.19" class="button">13.19</a>
    <a href="/action_selection/19.6" class="button">19.6</a>
    <a href="/action_selection/19.7" class="button">19.7</a>
    <a href="/action_selection/20.25" class="button">20.25</a>
    <a href="/action_selection/ФССП" class="button">ФССП</a>
    <a href="/task_selection" class="button">Назад</a>
</body>
</html>